.type-1673{
  .swiper-container {
    width: 100%;
    height: 300px;
    margin-left: auto;
    margin-right: auto;
    .swiper-slide {
       text-align: center;
      font-size: 18px;
      background: #fff;
      /* Center slide text vertically */
      display: -webkit-box;
      display: -ms-flexbox;
      display: -webkit-flex;
      display: flex;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      -webkit-justify-content: center;
      justify-content: center;
      -webkit-box-align: center;
      -ms-flex-align: center;
      -webkit-align-items: center;
      align-items: center;
      background-size: cover;
      background-position: center;
    }
    .swiper-button-next{
      .fa{
        font-size: 50px;
      }
      .fa:hover{
        color:red;
      }
    }
    .swiper-button-prev{
      .fa{
        font-size: 50px;
      }
      .fa:hover{
        color:red;
      }
    }
    .swiper-button-next:after{
      content: '';
     
    }
    .swiper-button-prev:after{
      content: '';
     
    }
  }
  .gallery-top {
    height: 80%;
    width: 100%;
    
  }
  .gallery-thumbs {
      background: #333;
      height: 20%;
      box-sizing: border-box;
      padding: 10px 0;
    .swiper-slide {
        width: 25%;
        height: 100%;
        opacity: 0.4;
      img{
        width: 25%;
      }
    }
    .swiper-slide-thumb-active {
      opacity: 1;
    }
  }
}
